/*==========================================
    faq
==========================================*/
.faq {
    padding: 120px 0 90px;
    a {
        background: rgba(0, 213, 99, 0.09);
        color: $base-color;
        display: inline-block;
        height: 50px;
        width: 200px;
        border: 1px solid rgba(0, 213, 99, 0.30);
        text-align: center;
        line-height: 50px;
        border-radius: 50px;
        margin-top: 21px;
        @include transition($transition);
        &:hover {
            background: $base-color;
            border-color: $base-color;
            color: $white;
        }
    }
    .accordion {
        .card {
            border: none;
            margin-bottom: 30px;
            &:not(:first-of-type) {
                .card-header:first-child {
                    border-radius: 10px;
                }
            } 
            .card-header {
                border: none;
                border-radius: 10px;
                padding: 0;
                h5 {
                    padding: 0;
                    button {
                        color: $hcolor-3;
                        font-size: 20px;
                        font-weight: 600;
                        text-decoration: none;
                        padding: 0 30px 0 30px;
                        height: 80px;
                        display: block;
                        width: 100%;
                        text-align: left;
                        background: #f0f8ff;
                        border-radius: 10px 10px 0 0;
                        position: relative;
                        &:after {
                            position: absolute;
                            right: 30px;
                            top: 50%;
                            margin-top: -10px;
                            color: $base-color-2;
                            text-align: center;
                            border-radius: 50%;
                            line-height: 100%;
                            content: '\f067';
                            font-size: 16px;
                            font-family: "Font Awesome 5 Free";
                            font-weight: 900;
                            @include transition($transition);
                        }
                        &.collapsed {
                            background: #f0f8ff;
                            border-radius: 5px;
                            box-shadow: none;
                            // border: 1px solid $base-color;
                        }
                    }
                    button[aria-expanded="true"]:after {
                        content: '\f068';
                        @include transition($transition);
                    }
                }
            }
            .card-body {
                border-radius: 0 0 10px 10px;
                background: #f0f8ff;
                padding-top: 0;
                margin-top: -6px;
                padding-left: 32px;
                padding-right: 30px;
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
}

