/*==========================================
    header
==========================================*/
.header {
    .header-top {
        padding: 15px 0;
        background: #000050;
        .support-bar-left, .support-bar-right {
            ul {
                li {
                    color: $white;
                    font-size: 14px;
                    display: inline-block;
                    margin-right: 25px;
                    &:last-child {
                        margin-right: 0;
                    }
                    span {
                        display: inline-block;
                        color: #0088ff;
                        margin-right: 10px;
                    }
                }
            }
        }
        .support-bar-right {
            text-align: right;
        }
    }
    .header-bottom {
        .logo-img {
            img {
                width: auto;
            }
        }
        .mainmenu {
            justify-content: flex-end;
            width: 100%;
            display: flex;
            .navbar {
                padding: 0;
                .navbar-nav {
                    .nav-item {
                        .nav-link {
                            font-size: 16px;
                            color: $base-color;
                            font-family: $heading-font;
                            font-weight: 500;
                            margin-right: 35px;
                            padding: 40px 0;
                            @include transition($transition);
                            &:hover {
                                color: $base-color-2;
                            }
                        }
                        &:last-child {
                            .nav-link {
                                margin-right: 0;
                            }
                        }
                        .dropdown-toggle::after {
                            position: relative;
                            top: 2px;
                        }
                        &.dropdown {
                            .dropdown-menu {
                                padding: 0;
                                margin: 0;
                                border: none;
                                border-radius: 0;
                                .dropdown-item {
                                    padding: 15px 20px;
                                    border-top: 1px solid rgba(0, 0, 80, 0.1);
                                    @include transition($transition);
                                    &:hover {
                                        color: $white;
                                        background: $base-color;
                                    }
                                }
                            }
                            &:hover {
                                .dropdown-menu {
                                    display: block;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}